@font-face {
    font-family: 'PxGrotesk';
    src: url('../fonts/PxGrotesk-Screen.otf') format('truetype');
  }

.body-styles {
  background-color: black;
}

.text {
    font-family: PxGrotesk;
}

.text-container {
  color: white;
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
}

.left{
  padding-bottom: 20%;
}

.right {
  padding-top: 20%;
}